<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body class="bg-orange-600">
    <h1 class= "font-['Open_Sans']"> Titulo

    </h1>
    <a href="https://www.google.com//"> ir a google</a>
    <img src="" alt="">
    
    <video controls autoplay>
        <source src="/static/KITTY HELICOPTER Better looped & extended.mp4" type="video/mp4">
        <source src="" type="">
        Your browser does not support the video tag.
      </video>

      <div class="w-1/3 bg-white mx-auto mt-5 rounded -lgdrop-shadow-lg">
        <h2 class = 'text-black text-center'>
            Nombre: gato meme
        </h2>
        <h3 class="text-black text-center">
            Estado: Vivo
        </h3>
        <img class="h-20 w-20 rounded-md mx-auto"
        src="../static/meme.jpg" alt ='Gato que es un meme'
        </div>
      <div class="relative flex min-h-screen flex-col justify-center overflow-hidden bg-gray-50 py-6 sm:py-12">
        <img src="/img/beams.jpg" alt="" class="absolute top-1/2 left-1/2 max-w-none -translate-x-1/2 -translate-y-1/2" width="1308" />
        <div class="absolute inset-0 bg-[url(/img/grid.svg)] bg-center [mask-image:linear-gradient(180deg,white,rgba(255,255,255,0))]"></div>
        <div class="relative bg-white px-6 pt-10 pb-8 shadow-xl ring-1 ring-gray-900/5 sm:mx-auto sm:max-w-lg sm:rounded-lg sm:px-10">
          <div class="mx-auto max-w-md">
            <img src="/img/logo.svg" class="h-6" alt="Programacion" />
            <div class="divide-y divide-gray-300/50">
              <div class="space-y-6 py-8 text-base leading-7 text-gray-600">
                <p><strong>Pasos de como aprender programacion: </strong></p>
                <ul class="space-y-4">
                  <li class="flex items-center">
                    <svg class="h-6 w-6 flex-none fill-sky-100 stroke-sky-500 stroke-2" stroke-linecap="round" stroke-linejoin="round">
                      <circle cx="12" cy="12" r="11" />
                      <path d="m8 13 2.165 2.165a1 1 0 0 0 1.521-.126L16 9" fill="none" />
                    </svg>
                    <p class="ml-4">
                      Aprender teoria y poner en practica
                      <code class="text-sm font-bold text-gray-900">logica y algoritmos</code> en ingles
                    </p>
                  </li>
                  <li class="flex items-center">
                    <svg class="h-6 w-6 flex-none fill-sky-100 stroke-sky-500 stroke-2" stroke-linecap="round" stroke-linejoin="round">
                      <circle cx="12" cy="12" r="11" />
                      <path d="m8 13 2.165 2.165a1 1 0 0 0 1.521-.126L16 9" fill="none" />
                    </svg>
                    <p class="ml-4">
                      Armar un portfolio de 
                      <code class="text-sm font-bold text-gray-900"> Proyectitos en Python (ejemplo) </code>
                    </p>
                  </li>
                  <li class="flex items-center">
                    <svg class="h-6 w-6 flex-none fill-sky-100 stroke-sky-500 stroke-2" stroke-linecap="round" stroke-linejoin="round">
                      <circle cx="12" cy="12" r="11" />
                      <path d="m8 13 2.165 2.165a1 1 0 0 0 1.521-.126L16 9" fill="none" />
                    </svg>
                    <p class="ml-4">Practicar para entrevistas y code challenges</p>
                  </li>
                </ul>
                <p>Forma perfecta de aprender, y poder demostrar que si entiendas, y sabes como resolver problemas con Python.</p>
              </div>
              <div class="pt-8 text-base font-semibold leading-7">
                <p class="text-gray-900">QUIERES SEGUIR APRENDIENDO A PROGRAMAR EN PYTHON?</p>
                <p>
                  <a href="https://www.python.org/" class="text-sky-500 hover:text-sky-600">PYTHON &rarr;</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      
      </body>
</body>
</html>